<div class="container">
  <div class="row" style="margin-top: 5rem; text-align: center">
    <div class="col-md-12">
      <h1><b>Actualidad</b></h1>
    </div>
  </div>
  <div class="row">
    <video
      src="./images/actualidad/Video Tsomanotik_1.mp4"
      controls
      style="margin: 4rem 0"
    ></video>
  </div>
</div>
