<!-- <div class="container" style="margin-top: 5rem; margin-bottom: 8rem;">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3>Contáctanos</h3>
        <form>
          <div class="row">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="nombre"
                placeholder="Nombre"
              />
            </div>
            <div class="mb-3">
              <input
                type="email"
                placeholder="Correo Electrónico"
                class="form-control"
                id="correo"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                placeholder="Asunto"
                class="form-control"
                id="asunto"
              />
            </div>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              id="mensaje"
              placeholder="Tu mensaje"
              rows="4"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div> -->

<div class="container" style="margin-top: 4rem; margin-bottom: 4rem">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3><b>Contáctanos</b></h3>
      <form id="contactForm" name="sentMessage" novalidate="novalidate">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Nombre</label>
            <input
              class="form-control"
              id="nombre"
              type="text"
              placeholder="Nombre"
              required="required"
              data-validation-required-message="Porfavor ingresa tu nombre."
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Correo Electrónico</label>
            <input
              class="form-control"
              id="correo"
              type="email"
              placeholder="Correo Electrónico"
              required="required"
              data-validation-required-message="Porfavor ingresa tu Correo Electrónico"
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Asunto</label>
            <input
              class="form-control"
              id="asunto"
              type="text"
              placeholder="Asunto"
              required="required"
              data-validation-required-message="Porfavor ingresa un asunto."
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <label>Mensaje</label>
            <textarea
              class="form-control"
              id="mensaje"
              rows="5"
              placeholder="Mensaje"
              required="required"
              data-validation-required-message="Porfavor ingresa tu mensaje."
            ></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br />
        <div id="success"></div>
        <div class="form-group">
          <button
            class="btn btn-primary btn-xl"
            id="sendMessageButton"
            type="submit"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
