<div class="container">
  <div class="row" style="text-align: center">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin-top: 5rem">
      <h1><b>Nuestros Proyectos</b></h1>
      <br />
      <br />
      <p>
        Somos una organización que promueve el cuidado de la naturaleza, la
        sustentabilidad y la vida digna de las personas mediante un centro
        agroecológico demostrativo, educativo y productivo en Tzimol, Chiapas.
      </p>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 5rem; margin-bottom: 5rem">
  <div class="row">
    <div class="col-md-4">
      <div
        class="card"
        style="
          width: 20rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1rem;
        "
      >
        <img
          src="./images/proyectos_img/Construccion tanques-1.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Plan de acción con enfoque de cuenca</h5>
          <p class="card-text">
            Proyecto en la Micro-Cuenca del Río San Vicente
          </p>
          <a
            href="#"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#proyecto1"
            >Leer más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="card"
        style="
          width: 20rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1rem;
        "
      >
        <img
          src="./images/proyectos_img/Agroecología-4.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Proceso Agroecológico</h5>
          <p class="card-text">
            Se ha trabajado en la elaboración de biofertilizantes como humus de
            lombriz, bocashi, compostas en las casas de la comunidad.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#proyecto2"
            >Leer más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="card"
        style="
          width: 20rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1rem;
        "
      >
        <img
          src="./images/proyectos_img/Mercadito de trueque-2.JPG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Soberanía Alimentaria</h5>
          <p class="card-text">
            Tiene como objetivo promover “la vida digna” y “el bien común”.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#proyecto3"
            >Leer más</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 4rem">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div
        class="card"
        style="
          width: 20rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1rem;
        "
      >
        <img
          src="./images/proyectos_img/Mercadito de trueque-6.JPG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Economía local, social y solidaria</h5>
          <p class="card-text">
            Trueque e intercambio de alimentos, semillas, bienes y servicio entre las comunidades
          </p>
          <a
            href="#"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#proyecto4"
            >Leer más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="card"
        style="
          width: 20rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1rem;
        "
      >
        <img
          src="./images/proyectos_img/Construccion tanques-4.JPG"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Bioconstrucción Ecotecnologías</h5>
          <p class="card-text">
            Cada dos días las mujeres junto con sus hijos caminan a una pequeña
            laguna en busca de agua. Para abastecerse deben de hacer tres viajes
            de 1 hora y media.
          </p>
          <a
            href="#"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#proyecto5"
            >Leer más</a
          >
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modals Proyectos -->
<div class="modal fade" id="proyecto1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Plan de acción con enfoque de cuenca</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              Después un diagnóstico sobre la deforestación del bosque y la
              contaminación de la laguna estamos en búsqueda de alianzas con
              académicos, universidades y organizaciones especializadas en el
              tema, así como financiamiento para desarrollar un proyecto en la
              Micro-Cuenca del Río San Vicente que tiene una de sus fuentes
              alimentadoras en la montaña donde se encuentra ubicada la
              comunidad de Zaragoza.
            </p>
            <ul>
              <li>Organización micro regional / Comité de Cuenca</li>
              <li>
                Acciones de reforestación (montaña, zona de transición y zona
                caliente)
              </li>
              <li>Cuidado y conservación de suelos</li>
              <li>Saneamiento del agua</li>
              <li>Intercambio y diálogo de saberes</li>
              <li>
                Suelo fértil y agua disponible para la producción agroecológica
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <img
              src="./images/proyectos_img/Construccion tanques-1.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="proyecto2" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Proceso Agroecológico</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              Hemos comenzado a trabajar en la milpa y los frutales de las
              familias. En la milpa se está trabajando con las familias en la
              <b>
                conversión de la agricultura basada en agroquímicos a la
                agroecología </b
              >. Se trabajó en la caracterización de las tierra, en la
              capacitación y elaboración de biofertilizantes (Hasta ahora, humus
              de lombriz, bocashi, compostas) y remedios agroecológicos para las
              enfermedades de las plantas.
            </p>
            <ul>
              <li>
                Producción agroecológica tradicional: <br />
                <ul>
                  <li>Milpa</li>
                  <li>Cafetal</li>
                  <li>Frutales</li>
                  <li>Maderables</li>
                  <li>Hortaliza</li>
                </ul>
              </li>
              <li>Análisis (Cromatografía) y regeneración de suelo</li>
              <li>Conservación de semillas</li>
              <li>
                Elaboración y aplicación de abonos orgánicos y biofertilizantes
              </li>
              <li>Elaboración y aplicación de remedios agroecológicos</li>
              <li>Base para la soberanía alimentaria</li>
              <li>Milpa comunitaria educativa</li>
            </ul>
          </div>
          <div class="col-md-6">
            <img
              src="./images/proyectos_img/Agroecología-4.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="proyecto3" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Soberanía Alimentaria</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              Capacita a los participantes para la construcción e implementación
              de huertos orgánicos familiares y el enriquecimiento del suelo con
              técnicas de <b>agroecología</b> que no contaminan, cuidan el medio
              ambiente y favorecen una buena y sana nutrición.
            </p>
            <p>
              Durante los talleres, las mujeres se informan sobre el consumo de
              alimentos sanos de la región que mejoran la alimentación y la
              salud, así como los daños de los alimentos procesados (comida
              chatarra, coca cola...).
            </p>
            <ul>
              <li>
                Mayor disponibilidad de alimentos y recursos que posibilitan
                ahorro
              </li>
              <li>Formación del sujeto sociopolítico</li>
              <li>Fortalecer la cultura de la solidaridad</li>
              <li>Favorecer la mejora del hábitat (comunitaria y familiar)</li>
              <li>
                Estimular proyectos productivos a través de la transformación de
                alimentos
              </li>
              <li>
                Recuperar el hábito del ahorro para la autogestión colectiva del
                hábitat y el hogar sustentable
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <img
              src="./images/proyectos_img/Mercadito de trueque-2.JPG"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="proyecto4" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Economía local, social y solidaria</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              Hemos implementado un mercado comunitario de trueque donde las
              mujeres pueden intercambiar productos locales por otros bienes que
              vienen de otras comunidades la región y que no se dan en la
              comunidad.
            </p>
            <ul>
              <li>Complemento para la alimentación</li>
              <li>
                Trueque e intercambio de alimentos, semillas, bienes y servicio
                entre las comunidades
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <img
              src="./images/proyectos_img/Mercadito de trueque-6.JPG"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="proyecto5" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bioconstrucción Ecotecnologías</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              En el 2019, entre Tsomanotik (una A.C. a favor del medio ambiente y la
              justicia social), y un grupo de mujeres de la comunidad surgió el
              proyecto <b>«Agua para la Vida»</b>, gracias al cual 60 mujeres y sus
              familias tienen un tanque de captación de agua de lluvia de más de
              <b>11,000 litros</b>.
            </p>
            <p>
              Después de meses de recaudación de fondos, de compra de materiales, de
              construcción, de reparaciones y de mucho trabajo, estuvieron los
              <b> 60 tanques </b> listos para la temporada de lluvias y ahora están
              todos llenos. Los resultados motivan a las mujeres a seguir luchando
              por una <b>vida mejor</b>.
            </p>
            <ul>
              <li>
                Tanques de ferrocemento para la cosecha y acceso a agua para las
                familias e instalación de huertos
              </li>
              <li>Estufas ahorradoras para ahorrar leña y mejorar la salud</li>
              <li>
                Baños secos para manejo de desechos que evite la contaminación de
                suelo y agua
              </li>
          </div>
          <div class="col-md-6">
            <img
              src="./images/proyectos_img/Construccion tanques-4.JPG"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
