<link rel="stylesheet" href="./css/quienesSomos.css" />

<div class="container-fluid" style="padding: 0; margin: 0">
  <div class="jumbotron">
    <img
      src="./images/quienesSomos/Mercadito de trueque-7.JPG"
      alt=""
      class="img-fluid"
    />
  </div>
</div>

<div class="container" style="margin-top: 4rem">
  <div class="row" style="text-align: center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1><b>¿Quienes somos?</b></h1>
      <br />
      <p>
        Una organización que promueve el cuidado de la naturaleza, la
        sustentabilidad y la vida digna de las personas mediante un centro
        agroecológico demostrativo, educativo y productivo en Tzimol, Chiapas.
      </p>
    </div>
  </div>
  <br />
  <br />
  <div class="row" style="text-align: center">
    <div class="col-md-12">
      <img src="./images/home-1.png" alt="" class="img-fluid" />
    </div>
  </div>
</div>

<div
  class="container-fluid"
  style="
    margin-top: 5rem;
    background-color: #f8f5ec;
    padding: 5rem;
    color: #333;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 text-center">
        <h3><b>Nuestra Misión</b></h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-flag-fill"
          viewBox="0 0 16 16"
          style="color: rgb(94, 71, 43); margin-top: 1rem; margin-bottom: 1rem"
        >
          <path
            d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"
          />
        </svg>
      </div>
      <div class="col-md-6">
        Construir una sociedad respetuosa de la naturaleza, equitativa,
        solidaria y sustentable promoviendo un cambio personal y comunitario en
        favor de la vida digna y el bien común, mediante un centro agroecológico
        productivo, educativo, experiencial y de vida comunitaria.
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-top: 4rem; margin-bottom: 4rem">
      <hr />
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 text-center">
        <h3><b>Nuestra Visión</b></h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-eye-fill"
          viewBox="0 0 16 16"
          style="color: rgb(94, 71, 43); margin-top: 1rem; margin-bottom: 1rem"
        >
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
          <path
            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
          />
        </svg>
      </div>
      <div class="col-md-6">
        Ser una organización auto sostenible, que promueve la solidaridad y la
        sustentabilidad, reconocida por su trabajo en comunidades vulnerables a
        favor de la vida digna y el bien común, y por su promoción de acciones
        locales y globales que colaboren en la construcción de una sociedad
        justa y solidaria.
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<div
  class="container-fluid"
  style="background-color: #00bfad; padding: 5rem; color: white"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="text-align: center; margin-bottom: 4rem; color: white">
          <b>Nuestros Valores</b>
        </h2>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-md-4">
        <img src="./images/valores/v_0.png" alt="" />
        <p>Promoción de la vida digna y el bien común.</p>
      </div>
      <div class="col-md-4">
        <img src="./images/valores/v_2.png" alt="" />
        <p>Cuidado de la naturaleza en favor de la sustentabilidad.</p>
      </div>
      <div class="col-md-4">
        <img src="./images/valores/v_3.png" alt="" />
        <p>Promoción de una vida comunitaria intercultural.</p>
      </div>
    </div>
    <div class="row" style="text-align: center; margin-top: 4rem">
      <div class="col-md-6">
        <img src="./images/valores/v_4.png" alt="" />
        <p>Respeto a los derechos humanos y a la cultura de los pueblos.</p>
      </div>
      <div class="col-md-6">
        <img src="./images/valores/v_5.png" alt="" />
        <p>Práctica de la solidaridad con la comunidad local y global.</p>
      </div>
    </div>
  </div>
</div>

<div style="margin: 5rem"></div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <h2><b>Tsomanotik</b></h2>
    </div>
    <div class="col-md-6 align-left pad-right">
      <p>
        del <span class="bold-raleway">tojolabal</span> significa:
        <span class="tsomano-1">Tsomano = juntarse, unirse</span><br />
        <span class="tsomano-2">tik= nosotros</span> es decir: “nosotros nos
        juntamos, nos unimos” lo cual es parafraseado como “manos unidas en
        solidaridad”.
      </p>
    </div>
  </div>
</div>
